*,
::after,
::before {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #321A4A;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 1920px;
}

.container {
    width: 1600px;
    height: 805px;
    border: 1px solid white;
    border-radius: 60px;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: white;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.form-main {
    width: 1250px;
    height: 630px;
    border: 1px solid #FDA6D7;
    border-radius: 60px;
    margin-top: 35px;
    margin-bottom: 50px;
    background-color: #FDA6D7;
}

.main {
    width: 1000px;
    height: 510px;
    margin-top: 60px;
}

.name, 
.email,
.number,
.select-main,
.date,
.time {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: none;
    margin-bottom: 30px;
    margin-right: 30px;
    color: #000000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    padding: 10px 0px 11px 23px;
}

input::placeholder, 
textarea::placeholder {
    color: #000000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

textarea {
    width: 1000px;
    height: 250px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: none;
    padding: 10px 0px 11px 23px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    resize: none;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #321A4A;
    margin-top: 50px;
    color: #FFFF;
    font-size: 24px;
    border: none;
}